.deps
.dirstamp
.libs
*~
*.bak
*.cmake
*.la
*.lo
*.o
*.swo
*.swp
*.tmp
*.user
=template.*
Thumbs.db
memory_leak_report.txt

# /
/.vimrc
/*.log
/*.ncb
/*.old
/*.opensdf
/*.sdf
/*.suo
/_UpgradeReport_Files
/ABOUT-NLS
/CMakeCache.txt
/CMakeFiles/
/Debug
/Makefile
/Makefile.in
/Release
/UpgradeLog*.XML
/aclocal.m4
/adventures-in-sdl2*
/autom4te.cache
/build
/confdefs.h
/config.h
/config.h.in
/config.log
/config.status*
/configure
/conftest*
/cppcheck_report.txt
/cscope.out
/ipch
/libltdl
/libtool
/stamp-h1
/valgrind_report.txt

